# Apify Configuration
APIFY_API_KEY=apify_api_mcfb4aow8T53M0md8weNg16hhdAFKi1lMCV8

# Shufersal Credentials
SHUFERSAL_EMAIL=devin.pillemer@gmail.com
SHUFERSAL_PASSWORD=Shufersal88

# Optional: Custom Apify Actor ID
# Format: {USERNAME}~{ACTOR_NAME}
# APIFY_ACTOR_ID=devinpillemer~shufersal-cart
