@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb;
  color: #1f2937;
}

a {
  color: #2563eb;
}

a:hover {
  color: #1d4ed8;
}
